<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://47.102.220.227:8080/article/addArticle" enctype="application/x-www-form-urlencoded" method="post">
    <input type="text" name="token">
    <input type="text" name="title">
    <input type="text" name="content">
    <input type="date" name="date">
    <input type="file" name="img">
    <input type="submit" value="提交">
</form>
<form action="updateInfo" enctype="multipart/form-data" method="post">
    <input type="file" name="avatar">
    <input type="text" name="token">
    <input type="text" name="userName">
    <input type="submit" value="提交">
</form>
<form action="/uploadAvatar"  method="post">
    <input type="text" name="avatar">
    <input type="" name="token">
    <input type="submit" value="提交">
</form>
</body>
</html>