<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelsnotes.dao.ArticleMapper">
<!--    创建article-->
    <insert id="addArticle" parameterType="Article">
        insert into notes_article(articleId,title,content,img,date,userId ) values (null,#{title},#{content},#{img},#{date},#{userId})
    </insert>
    <update id="addPicture">
        update notes_article  set img=#{imgUrl} where article;
    </update>
<!--    通过id获取article-->
    <select id="getById" resultType="Article">
        select * from notes_article where articleId=#{articleId}
    </select>
    <select id="listArticle" resultType="Article">
    select notes_article.* from notes_article where userId=#{userId};
    </select>
    <delete id="deleteById">
        delete from notes_article where articleId=#{articleId}
    </delete>

    <update id="updateArticle">

    </update>
</mapper>