<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelsnotes.dao.HKMapper">

    <select id="getPicText" parameterType="int" resultType="String">
        select pic_text from travels_notes.pics where userId=#{id}
    </select>
    <select id="getAvatar" resultType="String" >
        select avatarUrl from travels_notes.notes_user where userId=#{id};
    </select>
    <update id="setUsername">
        update travels_notes.notes_user set userName=#{userName} where userId=#{id}
    </update>
    <update id="setAvatar">
        update travels_notes.notes_user set avatarUrl=#{avatar} where userId=#{id}
    </update>
    <update id="setPhoneNumber">
        update travels_notes.notes_user set usertele=#{phoneNumber} where userId=#{id}
    </update>
    <select id="getUsername" parameterType="int" resultType="String">
        select userName from travels_notes.notes_user where userId=#{id}
    </select>

    <select id="getActiveDays" parameterType="int" resultType="int">
        select activeDays from travels_notes.notes_user where userId=#{id}
    </select>

    <select id="getTxtNum" parameterType="int" resultType="int">
        select count(*) from travels_notes.notes_article where userId=#{id} group by userId
    </select>

</mapper>