<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelsnotes.dao.UserMapper">

    <resultMap id="userMap" type="UserInfo">
        <id  column="userId" property="userId"></id>
        <result column="userName" property="userName"></result>
        <result column="userPassword" property="password"></result>
        <result column="usertele" property="phoneNumber"></result>
        <result column="avatarUrl" property="avatarUrl"></result>
        <result column="activeDays" property="activeDays"></result>
        <result column="recentlyLogin" property="recentlyLogin"></result>
    </resultMap>

    <select id="queryById"  resultMap="userMap">
        select * from travels_notes.notes_user where userId=#{id};
    </select>
    <select id="queryByName" parameterType="String" resultMap="userMap">
        select * from travels_notes.notes_user where userName=#{name};
    </select>
    <select id="queryByTele" parameterType="String" resultMap="userMap">
        select * from travels_notes.notes_user where usertele=#{phoneNumber};
    </select>
    <insert id="registerUser"  parameterType="UserInfo"  useGeneratedKeys="true" keyProperty="userId">
        insert into travels_notes.notes_user(userId,userName,userPassword,usertele) values(null,#{userName},#{password},#{phoneNumber})
    </insert>
    <update id="updateUser" parameterType="UserInfo">
        update travels_notes.notes_user set userName=#{userName} where;
    </update>
    <update id="setRecentLogin" >
        update travels_notes.notes_user set recentlyLogin=#{date} where userId=#{id};
    </update>
    <update id="addActiveDays" >
        update travels_notes.notes_user set activeDays=activeDays+1 where userId=#{id};
    </update>

</mapper>